<input id="issue_tracker_id" name="issue[tracker_id]" value="<%=h Setting.plugin_jumay_biz[:default_tracker_new_issue] %>" type="hidden"/>
<input id="issue_priority_id" name="issue[priority_id]" value="<%=h Setting.plugin_jumay_biz[:default_priority_new_issue] %>" type="hidden"/>
<input id="issue_assigned_to_id" name="issue[assigned_to_id]" value="<%= jumay_get_proyect_manager(@project.users_by_role) %>" type="hidden"/>
<input id="issue_due_date" name="issue[due_date]" value="" type="hidden"/>
<input id="issue_estimated_hours" name="issue[estimated_hours]" value="" type="hidden"/>
<input id="issue_done_ratio" name="issue[done_ratio]" value="0" type="hidden"/>
