<% if !User.current.admin && !User.current.allowed_to?(:enable_client_mode, @project)  %>
<% if @users_by_role.any? %>
<div class="members box">
    <h3><%=l(:label_member_plural)%></h3>
    <% @users_by_role.keys.sort.each do |role| %>
    <p>
        <span class="label"><%= role %>:</span>
        <%= @users_by_role[role].sort.collect{|u| link_to_user u}.join(", ").html_safe %></p>
    <% end %>
</div>
<% end %>

<% end  %>
