<%
  query = IssueQuery.new
%>
<script>
  var query_filters_list = <%= jumay_query_filters_options_json(query).html_safe %>
  var query_columns_list = <%= jumay_query_available_inline_columns(query).html_safe %>
</script>
<%= javascript_include_tag('template-query-filters', plugin: 'jumay_biz') %>

<div>
  <%# Seccion de seleccion de asignacion predeterminada de issue nuevo por role en modo cliente%>
  <div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title"><%=h l(:label_admin_default_values_new_issue_client_mode)%></h3>
     </div>
     <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-5"><h5><%=h l(:field_tracker)%></h5></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5"><%= select_tag("settings[default_tracker_new_issue]", options_from_collection_for_select(Tracker.sorted.to_a, :id, :name, @settings[:default_tracker_new_issue]), class: "form-control")%></div>
          </div>
          <div class="row">
            <div class="col-sm-5"><h5><%=h l(:field_priority)%></h5></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5"><%= select_tag("settings[default_priority_new_issue]", options_from_collection_for_select(IssuePriority.all.active, :id, :name, @settings[:default_priority_new_issue]), class: "form-control")%></div>
          </div>
          <div class="row">
            <div class="col-sm-5"><h5><%=h l(:field_role)%></h5></div>
            <div class="col-sm-2"></div>
            <% @roles = Role.sorted.to_a
            if !@roles.blank? %>
            <div class="col-sm-5"><%= select_tag("settings[default_role_assignee_new_issue]", options_from_collection_for_select(@roles, :name, :name, @settings[:default_role_assignee_new_issue]), class: "form-control")%></div>
            <% else %>
            <div class="col-sm-5"><input name="settings[default_role_assignee_new_issue]" type="hidden" value=""/></div>
            <% end %>
          </div>
        </div>
     </div>
  </div>
  <%# Seccion de seleccion de filtros desplegables en modo cliente%>
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title"><%=h l(:label_admin_query_filters_client_mode)%></h3>
      </div>
      <div class="panel-body">
         <input type="hidden" id="QueryFiltersHidden" name="settings[query_filters]" value="<%=h @settings[:query_filters]%>"/>
         <div class="container-fluid">
           <div class="row">
             <div class="col-sm-5"><h5><%=h l(:description_available_fields)%></h5></div>
             <div class="col-sm-2"></div>
             <div class="col-sm-5"><h5><%=h l(:description_selected_fields)%></h5></div>
           </div>
         </div>
         <div id="jumay_query_filters"></div>
      </div>
   </div>

   <%# Seccion de seleccion de columnas desplegables en modo cliente%>
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title"><%=h l(:label_admin_query_columns_client_mode)%></h3>
      </div>
      <div class="panel-body">
         <input type="hidden" id="QueryColumnsHidden" name="settings[query_columns]" value="<%=h @settings[:query_columns]%>"/>
         <div class="container-fluid">
           <div class="row">
             <div class="col-sm-5"><h5><%=h l(:description_available_fields)%></h5></div>
             <div class="col-sm-2"></div>
             <div class="col-sm-5"><h5><%=h l(:description_selected_fields)%></h5></div>
           </div>
         </div>
         <div id="jumay_query_columns"></div>
      </div>
   </div>

</div>
