<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'bootstrap.min', plugin: 'jumay_biz' %>
  <%= stylesheet_link_tag 'pickList', plugin: 'jumay_biz' %>
  <%= javascript_include_tag('bootstrap.min', plugin: 'jumay_biz') %>
  <%= javascript_include_tag('pickList', plugin: 'jumay_biz') %>
<% end %>

<%
jumay_tabs = [
    { name: 'query_filters', partial: 'settings/jumay_biz/client_mode', label: :label_client_mode }
]
%>

<%= render_tabs jumay_tabs%>
