<%= javascript_tag do %>
var operatorLabels = <%= raw_json Query.operators_labels %>;
var operatorByType = <%= raw_json Query.operators_by_filter_type %>;
var availableFilters = <%= raw_json query.available_filters_as_json %>;
var labelDayPlural = <%= raw_json l(:label_day_plural) %>;
var allProjects = <%= raw_json query.all_projects_values %>;
$(document).ready(function(){
  initFilters();
  <% query.filters.each do |field, options| %>
  addFilter("<%= field %>", <%= raw_json query.operator_for(field) %>, <%= raw_json query.values_for(field) %>);
  <% end %>
});
<% end %>

<table id="filters-table">
</table>

<div class="add-filter">
<%= label_tag('add_filter_select', l(:label_filter_add)) %>
<%= select_tag 'add_filter_select', filters_options_for_select(query), :name => nil %>
</div>

<% if !User.current.admin && User.current.allowed_to?(:only_show_own_issues, @project) %>
  <div>
    <input id="cb_author_id" name="f[]" type="hidden" value="author_id"/>
    <input id="operators_author_id" name="op[author_id]" type="hidden" value="="/>
    <input id="values_author_id_1" name="v[author_id][]" type="hidden" value="me"/>
  </div>
<% end %>

<%= hidden_field_tag 'f[]', '' %>
<% include_calendar_headers_tags %>
